<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
  <form th:method="POST" th:action="@{/books/search}">
    <label for="search-input"> Enter the book name</label>
      <input id="search-input" type="text" name="input">
      <br/>
      <input type="submit" value="search">
  </form>

    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <p>No books with this name found</p>
        </div>
        <div th:each="book : ${books}">
            <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>
            <div th:if="${book.getOwner() == null}">
                <span>This books is free</span>
            </div>
            <div th:if="${book.getOwner() != null}">
                <span>This book is owned by</span>
                <span th:text="${book.getOwner().getName()}"> owner</span>
            </div>
        </div>


        <hr/>
    </div>
</body>
</html>